@font-face {
    font-family: Sinami;
    src: url("./fonts/Sinami\ demo.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

 /* Templete-1 Styles */
#bg-1 {
    background: url("../images/temp_1.webp");
    background-repeat: no-repeat;
    width: 1055px;
    height: 800px;
    background-size: contain;
    /* display: flex;
    flex-direction: column; */
    text-align: center;

}

#bg-1 .name-text {
    display: flex;
    flex-direction: column;
    line-height: 5px;
    margin-top: 246px;
}
#bg-1 .name-text p {
    display: inline-block;
}

#bg-1 .name {
    text-align: center;
    font-size: 90px;
    font-family: Sinami,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0aa64d;
    
}

#bg-1 .program-text {
    color: black;
    text-align: center;
    font-size: 30px;
    margin-top: -39px;
    
}

#bg-1 .date-text {
    color: black;
    text-align: center;
    margin-top: 0px;
    font-size: 30px;
    
    
}

#bg-1 .hour-text {
    color: black;
    text-align: center;
    margin-top: 1px;
    font-size: 30px;
    
}

#bg-1 .description {
    color: black;
    text-align: center;
    font-size: 30px;
    margin-top: -2px;
    
}



#bg-1 .qr {
    position: relative;
    display: flex;
    flex-direction: row-reverse
}

#bg-1 .qr span {
    position: relative;
    right: 118px;
}

#bg-2 {
    background: url("../images/temp_2.webp");
    background-repeat: no-repeat;
    width: 1055px;
    height: 100vh;
    background-size: contain;
    display: flex;
    flex-direction: column;
    text-align: center;

}

#bg-2 .name-text {
    display: flex;
    flex-direction: column;
}
#bg-2 .name {
    text-align: center;
    margin-top: 21rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
    font-size: 3.5rem;
    font-family: 'Times New Roman','Cairo',Cambria, Cochin, Georgia, Times,  serif;
    color: #000;
}

#bg-2 .program-text {
    color: black;
    margin-top: 0;
    font-size: 30px;
    text-align: center;
}

#bg-2 .date-text {
    color: black;
    margin-top: -19px;
    font-size: 30px;
    text-align: center;
}

#bg-2 .hour-text {
    color: black;
    margin-top: -19px;
    font-size: 30px;
    text-align: center;
}

#bg-2 .description {
    color: black;
    margin-top: -19px;
    font-size: 30px;
    text-align: center;
}



#bg-2 .qr {
    position: absolute;
    right: 14.8rem;
    bottom: 4.5rem;
    margin-bottom: 0;
} 
#bg-2 .qr::after {
    content: 'This Certificate is Verfied With QR Code';
    font-size: .7em;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
    bottom: -1em;
    right: -1em;
    line-height: 15px;

}
/* Templete-3 Styles */
#bg-3 {
    background: url("../images/temp_3.webp");
    background-repeat: no-repeat;
    width: 513px;
    height: 100vh;
    background-size: contain;
    display: flex;
    margin-left: 20%;
    flex-direction: column;
    text-align: center;

}

#bg-3 .name-text {
    display: flex;
    flex-direction: column;
}
#bg-3 .name {
    text-align: center;
    margin-top: 17rem;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
    font-size: 3rem;
    line-height: 1em;
    font-family: 'Times New Roman',Cambria, Cochin, Georgia, Times,  serif;
    color: #000;
}

#bg-3 .program-text {
    color: black;
    margin-top: -1em;
    font-size: 1.3em;
    text-align: center;
}

#bg-3 .date-text {
    color: black;
    margin-top: -19px;
    font-size: 1.3em;
    text-align: center;
}

#bg-3 .hour-text {
    color: black;
    margin-top: -19px;
    font-size: 1.3em;
    text-align: center;
}

#bg-3 .description {
    color: black;
    margin-top: -19px;
    font-size: 1.8em;
    text-align: center;
}


#bg-3 .qr {
    position: absolute;
    right: 29rem;
    bottom: 4.2rem;
}
#bg-3 .qr::after {
    content: 'This Certificate is Verfied With QR Code';
    font-size: .7em;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
    bottom: -1em;
    right: -1em;
    line-height: 15px;

}

/* Templete-4 styles */
#bg-4 {
    background: url("../images/temp_4.webp");
    background-repeat: no-repeat;
    width: 513px;
    height: 100vh;
    background-size: contain;
    display: flex;
    margin-left: 20%;
    flex-direction: column;
    text-align: center;

}


#bg-4 .name-text {
    display: flex;
    flex-direction: column;
}
#bg-4 .name {
    text-align: center;
    margin-top: 17.5rem;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
    font-size: 3rem;
    line-height: 1em;
    font-family: 'Times New Roman',Cambria, Cochin, Georgia, Times,  serif;
    color: #000;
}

#bg-4 .program-text {
    color: black;
    margin-top: -1em;
    font-size: 1.3em;
    text-align: center;
}

#bg-4 .date-text {
    color: black;
    margin-top: -19px;
    font-size: 1.3em;
    text-align: center;
}

#bg-4 .hour-text {
    color: black;
    margin-top: -19px;
    font-size: 1.3em;
    text-align: center;
}

#bg-4 .description {
    color: black;
    margin-top: -19px;
    font-size: 1.3em;
    text-align: center;
}


#bg-4 .qr {
    position: absolute;
    right: 29rem;
    bottom: 4.2rem;
}
#bg-4 .qr::after {
    content: 'This Certificate is Verfied With QR Code';
    font-size: .7em;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
    bottom: -1em;
    right: -1em;
    line-height: 15px;

}

/* Templete-5 styles */
#bg-5 {
    background: url("../images/temp_5.webp");
    background-repeat: no-repeat;
    width: 1055px;
    height: 100vh;
    background-size: contain;
    display: flex;
    flex-direction: column;
    text-align: center;

}

#bg-5 .name-text {
    display: flex;
    flex-direction: column;
}
#bg-5 .name {
    text-align: center;
    margin-top: 21rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
    font-size: 3.5rem;
    font-family: 'Times New Roman','Cairo',Cambria, Cochin, Georgia, Times,  serif;
    color: #000;
}

#bg-5 .program-text {
    color: black;
    margin-top: 0;
    font-size: 30px;
    text-align: center;
}

#bg-5 .date-text {
    color: black;
    margin-top: -19px;
    font-size: 30px;
    text-align: center;
}

#bg-5 .hour-text {
    color: black;
    margin-top: -19px;
    font-size: 30px;
    text-align: center;
}

#bg-5 .description {
    color: black;
    margin-top: -19px;
    font-size: 30px;
    text-align: center;
}



#bg-5 .qr {
    position: absolute;
    right: 13rem;
    bottom: 5.8rem;
    margin-bottom: 0;
} 
#bg-5 .qr::after {
    content: 'This Certificate is Verfied With QR Code';
    font-size: .7em;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
    bottom: -1em;
    right: -1em;
    line-height: 15px;

}



