@font-face {
    font-family: Sinami;
    src: url("./fonts/Sinami\ demo.ttf");
}


#bg {
    background: url("../images/certificate.webp");
    background-repeat: no-repeat;
    width: 1055px;
    height: 100vh;
    background-size: contain;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.name-text {
    display: flex;
    flex-direction: column;
}
.name {
    text-align: center;
    margin-top: 21rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
    font-size: 5rem;
    font-family: Sinami,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0aa64d;
}

.program-text {
    color: black;
    margin-top: 0;
    font-size: 30px;
    text-align: center;
}

.date-text {
    color: black;
    margin-top: -19px;
    font-size: 30px;
    text-align: center;
}

.hour-text {
    color: black;
    margin-top: -19px;
    font-size: 30px;
    text-align: center;
}

.description {
    color: black;
    margin-top: -19px;
    font-size: 30px;
    text-align: center;
}

.qr {
    position: absolute;
    right: 14.8rem;
    bottom: 4.2rem;
}


