@font-face {
    font-family: Sinami;
    src: url("./fonts/Sinami\ demo.ttf");
}


#bg {
    background-repeat: no-repeat;
    background-size: 1050px 800px;
    width: 1055px;
    height: 100vh;
    background-size: contain;
    margin: 0px;
    border-spacing: none;
    border: 0.5px solid white;
    padding-left: -10px;
	position:absolute;
    top: 0;
    right: 0;

}
#bg .cert {
    position: absolute;
}

.name {
    text-align: center;
    margin-top: 310px;
    font-size: 80px;
    font-family: Sinami,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0aa64d;
}

.program-text {
    color: black;
    margin-top: 0px;
    font-size: 30px;
    text-align: center;
}

.date-text {
    color: black;
    margin-top: -19px;
    font-size: 30px;
    text-align: center;
}

.hour-text {
    color: black;
    margin-top: -19px;
    font-size: 30px;
    text-align: center;
}

.description {
    color: black;
    margin-top: -19px;
    font-size: 30px;
    text-align: center;
}

.qr {
    display: inline-block;
    position: absolute;
    bottom: 70px;
    right: 155px;

}

