* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
    margin-top: 3em;
}
.xl-box {
    margin-top: 4.5em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.login-box {
    /* width: 100vh; */
    height: 100vh;
    display: flex;
    overflow: auto;
    justify-content: center; 
    background: #c7ddcc;
}
.login-box--l {
    position: relative;
    top: 30%;
}
.is-center {
    text-align: center;
}
.spacing {
    margin-bottom: 2em;
}
.spacing-bottom {
    height: em;
}
.login-spacing {
    margin-top: .5em;
}
.user-form--small {
    display: inline-block;
    margin-right: 5em;
}
.login-box .title {
    color: white;
    width: 100%;
    font-size: 3em;
    margin-bottom: 0em;
    font-weight: 700;
    text-align: center;
}
.title span {
    font-size: 1em;
    color: #16123f;
}




/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.users-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.users-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

.search-form,
.search-form fieldset
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.search-form input {
    width: 90%;
}
.login-box .pure-form{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.login-box fieldset {
    width: 100%;
    margin-top: 2em;
}
.login-box .input100 {
    width: 100%;
    margin-bottom: 3em;

}
.login-box .login-button {
    color: white;
    background: #ffe26a;
    width: 100%;
}





/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #75c9b7;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: #16123f;
    font-weight: 700;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #f3f3f8;
    font-weight: 500;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: white;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: auto;
    height: 100%;
    margin: auto;
    position: absolute;
    /* top: 100px; left: 0; bottom: 0; right: 0; */
    text-align: center;
    text-transform: uppercase;
}
.splash-img {
    position: relative;
    top: 50%;
    right: 50%;
    left: 50%;
    bottom: 50%;
}
section {
    position: relative;
    display: block;

}
.second-section:before {
    content: '';
    display: table;
}
.second-section:after {
    clear: both;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}
#search-header {
    display: block;
    margin-bottom: 5em;
}
/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* Buttons */
.button-xsmall {
    font-size: 70%;
}

li .button-small {
    font-size: 85%;
    font-weight: 700;
    border-radius: 5px;
    color: rgb(202, 60, 60);
    background: none;
}

.button-large {
    font-size: 110%;
}

form .button-xlarge,
div .button-xlarge{
    font-size: 125%;
    width: 100%;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #16123f;
}
.edit .button-xlarge {
     margin-top: .5em;
}
tr .button-success,
tr .button-error,
tr .button-warning,
tr .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        tr .button-success {
            background: #abd699;
            /* this is a green */
        }

        tr .button-error,
        div .button-error{
            background: rgb(202, 60, 60);
            /* this is a maroon */
        }

        tr .button-warning {
            background: rgb(223, 117, 20);
            /* this is an orange */
        }

        tr .button-secondary {
            background: #ffe26a;
            /* this is a light blue */
        }

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* pure table */
.pure-table {
    width: 100%;
}
/* .pure-table thead {
    display: flex;
    justify-content: space-between;
} */
.pure-table .number {
    width: 1em;
}
.pure-table .name-- {
    width: 30em;
    text-align: center;
}
.pure-table .nid {
    width: 15em;
    text-align: center;
}
.pure-table .program {
    width: 20em;
    text-align: center;
}
.pure-table .action {
    width: 30em;
    text-align: center;
}
.pure-table .action--item {
    display: flex;
    justify-content: space-around;
}

.no-users-msg {
    color: #c7ddcc;
    margin-top: 7em;
    position: relative;
    margin-left: 45%;
    font-size: 2em;
}
.sidenav {
    height: 100%;
    width: 20em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffe26a;
    overflow-x: hidden;
  }
.sidenav .title {
    color: #16123f;
    text-align: center;
    font-size: 2em;
    margin-top: .5em;
}
.sidenav hr {
    color: #abd699;
    height: 2px;
    background: #abd699;
    border: none;
    width: 80%;
}  

.cert-content {
    margin-left: 20em;
    padding-left: 5em;
    display: flex;
    flex-direction: column;
  }
.templete-item {
   width: 18em;
   margin-top: 1em;
   margin-left: 1em;
   position: relative;
   justify-self: center;
   text-align: center;
}

.templete-item img {
    width: 16em;
    position: relative;
    opacity: 1;
    transition:  .5 ease;
    backface-visibility: hidden;
}
.templete-item:hover img {
    opacity: .3;
}
.templete-item:hover .middle {
    opacity: 1;
}
.middle .text {
    color: #16123f;
    font-size: 1.5em;
    padding: .2em .2em;
    margin-bottom: 50%;
}
.templete-item .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-bottom: 5em;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.sidenav .pure-button {
    position: fixed;
    bottom: 0em;
    width: 20em;
    color: white;
    background: #16123f;

}
.public-search {
    margin-bottom: 1em;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

#footer {
    background: #eee;
    padding: .5em;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  #footer p {
    color: #888;
    font-size: 1em;
  }
  #footer a {
    color: #608dfd;
    text-decoration: none;
  }
  #footer a:visited {
    color: #608dfd;
    text-decoration: none;
  }
  #footer a:hover {
    border-bottom: 2px solid #608dfd;
  }

  .go-back {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
    left: 42%;
    font-size: 1em;
    padding-top: 0em;
  }

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}