* {
    box-sizing: border-box;
}

.header {
    background-color: #ebd5c2;
    
    height: 50px;
}


.header-logo {
    margin-left: 50px;
}

#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#myTable td {
    text-align: left;
    margin-left: 10px;
    padding: 12px 0;
    width: 14em;
}
#myTable th {
    text-align: left;
}

#myTable .table-row {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}


#myTable tr.header,
#myTable tr:hover {
    background-color: #f1f1f1;
}

#header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
#header th {
    margin-left: 15px;
    width: 14em;


}

.actions  {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

#myTable .number {
    width: 1em;
}
#myTable .nid {
    width: 10em;
    margin-left: 5px;
}
#myTable .table-name {
    width: 20em;
}
#myTable .action-h {
    text-align: center;
}